*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

.conteiner{
    width: 60%;
    margin: 2rem auto;
}

.big-conteiner{
    width: 80%;
    margin: 0 auto;
}

header{
    height: 50px;
    background-color: white;
}

.hero{
    background-color: lightblue;
}

/* common */
.row{
    display: flex;
    justify-content: space-between;
}

.row-col{
    display: flex;
}

.row-hero{
    display: flex;
}

.col{
    background-color: green;
}

.col-hero{
    /* debug */
    
    min-height: 500px;
   
    border: 1px solid black;
}

.left{
    width: 30%;
    /* Debug */
    background-color:red 
}

.right{
    width:70% ;
    background-color: purple;
}

.col-2{
    width: calc(95% / 3);
    /* Debug */
    border: 1px solid black;
    min-height: 500px;
    background-color: chocolate;
}

.col-colum{
    min-height: 200px;
    background-color: aqua;
    border: 1px solid black;
    width: calc(95% / 2);
    margin-top: 10px;
}

.col-img{
    width: 70%;
    /* debug */
    min-height: 500px;
    background-color: blue;
}
.col-text{
    width: 30%;
    /* debug */
    min-height: 500px;
    background-color: purple;

}